#src/test/resources/META-INF
com.template.template-automatedtests.iml
sarnova-autotests
\ No newline at end of file
ge-empower-autotests
bin
.project
.settings
.classpath
.settings
.metadata
test-output
esab-autotests/target
.recommenders
esab-autotests/log4j-application.log
