<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">

    <bean id="seleniumGridSettings" class="com.magicleap.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>

    <!--Users Manager to create user instances-->
    <bean id="usersManager" class="com.magicleap.helpers.managers.users.UsersManager"/>

    <bean id="storefrontProject" class="com.magicleap.storefront.models.TemplateStorefront">
        <constructor-arg value="${com.magicleap.storefront.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.magicleap.storefront.shopper.username}</value>
                <value>${com.magicleap.storefront.shopper.password}</value>
                <ref bean="storefrontProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.magicleap.storefront.shopper.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.magicleap.storefront.guest.username}</value>
                <value>${com.magicleap.storefront.guest.password}</value>
                <ref bean="storefrontProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.magicleap.storefront.guest.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="backofficeProject" class="com.magicleap.hybris.backoffice.models.TemplateBackoffice">
        <constructor-arg value="${com.magicleap.backoffice.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.magicleap.backoffice.admin.username}</value>
                <value>${com.magicleap.backoffice.admin.password}</value>
                <ref bean="backofficeProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.magicleap.backoffice.admin.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="hacProject" class="com.magicleap.hybris.hac.models.TemplateHAC">
        <constructor-arg value="${com.magicleap.hac.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.magicleap.hac.admin.username}</value>
                <value>${com.magicleap.hac.admin.password}</value>
                <ref bean="hacProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.magicleap.hac.admin.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="importCockpitProject" class="com.magicleap.hybris.import_cockpit.models.TemplateImportCockpit">
        <constructor-arg value="${com.magicleap.import.cockpit.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.magicleap.import.cockpit.import.manager.username}</value>
                <value>${com.magicleap.import.cockpit.import.manager.password}</value>
                <ref bean="importCockpitProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.magicleap.import.cockpit.import.manager.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <!--Products Manager to create test product instances-->
    <bean id="productsManager" class="com.magicleap.helpers.managers.products.ProductsManager"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${3791322.product.sku}</value>
                <value>${3791322.product.name}</value>
                <value>${3791322.product.license}</value>
            </list>
        </property>
    </bean>

    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="stage">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/stage.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>

    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>

    <beans profile="local">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/local.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>
</beans>