<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    ">
    <bean id="seleniumGridSettings" class="com.geempower.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>
    <bean id="storefrontProject" class="com.geempower.storefront.models.EmpowerStorefront">
        <constructor-arg value="${com.geempower.storefront.base.url}"/>
        <constructor-arg value="${com.geempower.storefront.ssologinpage.url}"/>
    </bean>
    <bean id="hacProject" class="com.geempower.hybris.hac.models.TemplateHAC">
        <constructor-arg value="${com.geempower.hybris.hac.models.TemplateHAC.base.url}"/>
    </bean>
    <bean id="lessonLyUser" class="java.lang.String">
        <constructor-arg value="${com.geempower.api.lessonly.user}"/>
    </bean>
    <bean id="lessonLyPassword" class="java.lang.String">
        <constructor-arg value="${com.geempower.api.lessonly.password}"/>
    </bean>
    <bean id="statusPageToken" class="java.lang.String">
        <constructor-arg value="${com.geempower.api.statuspage.api.key}"/>
    </bean>
    <bean id="hacAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.hac.admin.username}"/>
        <constructor-arg value="${com.geempower.hac.admin.password}"/>
        <constructor-arg ref="hacProject"/>
        <constructor-arg value="${com.geempower.hac.admin.role}"/>
    </bean>
    <bean id="storefrontExternalUser1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.externaluser1.username}"/>
        <constructor-arg value="${com.geempower.storefront.externaluser1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.externaluser1.role}"/>
    </bean>
    <bean id="storefrontAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.admin.username}"/>
        <constructor-arg value="${com.geempower.storefront.admin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.admin.role}"/>
    </bean>
    <bean id="storefrontInternalUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.internaluser.username}"/>
        <constructor-arg value="${com.geempower.storefront.internaluser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.internaluser.role}"/>
    </bean>
    <bean id="storefrontRegionalViewCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.regionalview.username}"/>
        <constructor-arg value="${com.geempower.storefront.regionalview.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.regionalview.role}"/>
    </bean>
    <bean id="storefrontSmAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.smadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.smadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.smadmin.role}"/>
    </bean>
    <bean id="storefrontRmAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.rmadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.rmadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.rmadmin.role}"/>
    </bean>
    <bean id="storefrontTestRoleUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.testroleuser.username}"/>
        <constructor-arg value="${com.geempower.storefront.testroleuser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.testroleuser.role}"/>
    </bean>
    <bean id="storefrontCaAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.caadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.caadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.caadmin.role}"/>
    </bean>
    <bean id="usersList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="storefrontExternalUser1Credentials"/>
                <ref bean="storefrontAdminCredentials"/>
                <ref bean="storefrontInternalUserCredentials"/>
                <ref bean="storefrontRegionalViewCredentials"/>
                <ref bean="storefrontSmAdminCredentials"/>
                <ref bean="storefrontRmAdminCredentials"/>
                <ref bean="storefrontTestRoleUserCredentials"/>
                <ref bean="storefrontCaAdminCredentials"/>
                <ref bean="hacAdminCredentials"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="regionsManager" class="com.geempower.helpers.managers.RegionsManager"/>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${north.america.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${north.america.region.2244411.account}"/>
                            </bean>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${north.america.region.722751G.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${latin.america.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${latin.america.region.9000084.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${asia.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${asia.region.30006.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${emea.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${emea.region.9006003.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="productManager" class="com.geempower.helpers.managers.ProductManager"/>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${thql1120.product.catalogue.no}</value>
                <value>${thql1120.product.region}</value>
                <value>${thql1120.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${SKISO.product.catalogue.no}</value>
                <value>${SKISO.product.region}</value>
                <value>${SKISO.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${600540.product.catalogue.no}</value>
                <value>${600540.product.region}</value>
                <value>${600540.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${THQL1120.product.catalogue.no}</value>
                <value>${THQL1120.product.region}</value>
                <value>${THQL1120.product.id}</value>
            </list>
        </property>
    </bean>

    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="qa">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/qa.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/regions.properties, classpath*:META-INF/products.properties"/>
    </beans>
</beans>