<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    ">
    <bean id="seleniumGridSettings" class="com.geempower.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>
    <bean id="storefrontProject" class="com.geempower.storefront.models.EmpowerStorefront">
        <constructor-arg value="${com.geempower.storefront.base.url}"/>
        <constructor-arg value="${com.geempower.storefront.ssologinpage.url}"/>
    </bean>
    <bean id="hacProject" class="com.geempower.hybris.hac.models.TemplateHAC">
        <constructor-arg value="${com.geempower.hybris.hac.models.TemplateHAC.base.url}"/>
    </bean>
    <bean id="backofficeProject" class="com.geempower.hybris.backoffice.models.TemplateBackoffice">
        <constructor-arg value="${com.geempower.hybris.backoffice.models.TemplateBackoffice.base.url}"/>
    </bean>
    <bean id="lessonLyUser" class="java.lang.String">
        <constructor-arg value="${com.geempower.api.lessonly.user}"/>
    </bean>
    <bean id="lessonLyPassword" class="java.lang.String">
        <constructor-arg value="${com.geempower.api.lessonly.password}"/>
    </bean>
    <bean id="qmsUser" class="java.lang.String">
        <constructor-arg value="${com.geempower.qms.user}"/>
    </bean>
    <bean id="qmsPassword" class="java.lang.String">
        <constructor-arg value="${com.geempower.qms.password}"/>
    </bean>
    <bean id="statusPageToken" class="java.lang.String">
        <constructor-arg value="${com.geempower.api.statuspage.api.key}"/>
    </bean>
    <bean id="hacAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.hac.admin.username}"/>
        <constructor-arg value="${com.geempower.hac.admin.password}"/>
        <constructor-arg ref="hacProject"/>
        <constructor-arg value="${com.geempower.hac.admin.role}"/>
    </bean>
    <bean id="backofficeAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.backoffice.admin.username}"/>
        <constructor-arg value="${com.geempower.backoffice.admin.password}"/>
        <constructor-arg ref="backofficeProject"/>
        <constructor-arg value="${com.geempower.backoffice.admin.role}"/>
    </bean>
    <bean id="storefrontExternalUser1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.externaluser1.username}"/>
        <constructor-arg value="${com.geempower.storefront.externaluser1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.externaluser1.role}"/>
    </bean>
    <bean id="storefrontExternalUser2Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.externaluser2.username}"/>
        <constructor-arg value="${com.geempower.storefront.externaluser2.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.externaluser2.role}"/>
    </bean>
    <bean id="storefrontExternalUser3Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.externaluser3.username}"/>
        <constructor-arg value="${com.geempower.storefront.externaluser3.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.externaluser3.role}"/>
    </bean>
    <bean id="storefrontEmpAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.empadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.empadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.empadmin.role}"/>
    </bean>
    <bean id="storefrontFirstEmpAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.firstempadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.firstempadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.firstempadmin.role}"/>
    </bean>
    <bean id="storefrontSecondEmpAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.secondempadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.secondempadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.secondempadmin.role}"/>
    </bean>
    <bean id="storefrontHelpDescCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.helpdesc.username}"/>
        <constructor-arg value="${com.geempower.storefront.helpdesc.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.helpdesc.role}"/>
    </bean>
    <bean id="storefrontHelpDesc1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.helpdesc1.username}"/>
        <constructor-arg value="${com.geempower.storefront.helpdesc1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.helpdesc1.role}"/>
    </bean>
    <bean id="storefrontCsAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.csadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.csadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.csadmin.role}"/>
    </bean>
    <bean id="storefrontAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.admin.username}"/>
        <constructor-arg value="${com.geempower.storefront.admin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.admin.role}"/>
    </bean>
    <bean id="storefrontInternalUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.internaluser.username}"/>
        <constructor-arg value="${com.geempower.storefront.internaluser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.internaluser.role}"/>
    </bean>
    <bean id="storefrontInternalUser1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.internaluser1.username}"/>
        <constructor-arg value="${com.geempower.storefront.internaluser1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.internaluser1.role}"/>
    </bean>
    <bean id="storefrontInternalUser2Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.internaluser2.username}"/>
        <constructor-arg value="${com.geempower.storefront.internaluser2.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.internaluser2.role}"/>
    </bean>
    <bean id="storefrontNewInternalUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.newinternaluser.username}"/>
        <constructor-arg value="${com.geempower.storefront.newinternaluser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.newinternaluser.role}"/>
    </bean>
    <bean id="storefrontRegionalViewCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.regionalview.username}"/>
        <constructor-arg value="${com.geempower.storefront.regionalview.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.regionalview.role}"/>
    </bean>
    <bean id="storefrontSmAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.smadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.smadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.smadmin.role}"/>
    </bean>
    <bean id="storefrontSmAdmin1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.smadmin1.username}"/>
        <constructor-arg value="${com.geempower.storefront.smadmin1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.smadmin1.role}"/>
    </bean>
    <bean id="storefrontRmAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.rmadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.rmadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.rmadmin.role}"/>
    </bean>
    <bean id="storefrontTestRoleUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.testroleuser.username}"/>
        <constructor-arg value="${com.geempower.storefront.testroleuser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.testroleuser.role}"/>
    </bean>
    <bean id="storefrontCaAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.caadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.caadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.caadmin.role}"/>
    </bean>
    <bean id="storefrontCaAdmin1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.caadmin1.username}"/>
        <constructor-arg value="${com.geempower.storefront.caadmin1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.caadmin1.role}"/>
    </bean>
    <bean id="storefrontMfgRepUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.mfgrepuser.username}"/>
        <constructor-arg value="${com.geempower.storefront.mfgrepuser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.mfgrepuser.role}"/>
    </bean>
    <bean id="storefrontMfgRepAdminCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.mfgrepadmin.username}"/>
        <constructor-arg value="${com.geempower.storefront.mfgrepadmin.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.mfgrepadmin.role}"/>
    </bean>
    <bean id="storefrontNewUserCredentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.newuser.username}"/>
        <constructor-arg value="${com.geempower.storefront.newuser.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.newuser.role}"/>
    </bean>
    <bean id="storefrontMfgRepUser1Credentials" class="com.geempower.helpers.user_engine.User">
        <constructor-arg value="${com.geempower.storefront.mfgrepuser1.username}"/>
        <constructor-arg value="${com.geempower.storefront.mfgrepuser1.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.geempower.storefront.mfgrepuser1.role}"/>
    </bean>
    <bean id="usersList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="storefrontExternalUser1Credentials"/>
                <ref bean="storefrontExternalUser2Credentials"/>
                <ref bean="storefrontExternalUser3Credentials"/>
                <ref bean="storefrontAdminCredentials"/>
                <ref bean="storefrontEmpAdminCredentials"/>
                <ref bean="storefrontFirstEmpAdminCredentials"/>
                <ref bean="storefrontSecondEmpAdminCredentials"/>
                <ref bean="storefrontHelpDescCredentials"/>
                <ref bean="storefrontHelpDesc1Credentials"/>
                <ref bean="storefrontCsAdminCredentials"/>
                <ref bean="storefrontInternalUserCredentials"/>
                <ref bean="storefrontInternalUser1Credentials"/>
                <ref bean="storefrontInternalUser2Credentials"/>
                <ref bean="storefrontNewInternalUserCredentials"/>
                <ref bean="storefrontRegionalViewCredentials"/>
                <ref bean="storefrontSmAdminCredentials"/>
                <ref bean="storefrontSmAdmin1Credentials"/>
                <ref bean="storefrontRmAdminCredentials"/>
                <ref bean="storefrontTestRoleUserCredentials"/>
                <ref bean="storefrontCaAdminCredentials"/>
                <ref bean="storefrontCaAdmin1Credentials"/>
                <ref bean="storefrontMfgRepUserCredentials"/>
                <ref bean="storefrontMfgRepAdminCredentials"/>
                <ref bean="storefrontNewUserCredentials"/>
                <ref bean="storefrontMfgRepUser1Credentials"/>
                <ref bean="hacAdminCredentials"/>
                <ref bean="backofficeAdminCredentials"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="regionsManager" class="com.geempower.helpers.managers.RegionsManager"/>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${north.america.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${north.america.region.2244411.account}"/>
                            </bean>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${north.america.region.722751G.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${latin.america.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${latin.america.region.9000084.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${asia.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${asia.region.30006.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="regionsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${emea.region}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="java.lang.String" factory-method="valueOf">
                                <constructor-arg value="${emea.region.9006003.account}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="productManager" class="com.geempower.helpers.managers.ProductManager"/>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${thql1120.product.catalogue.no}</value>
                <value>${thql1120.product.region}</value>
                <value>${thql1120.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${SKISO.product.catalogue.no}</value>
                <value>${SKISO.product.region}</value>
                <value>${SKISO.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${ab55k.product.catalogue.no}</value>
                <value>${ab55k.product.region}</value>
                <value>${ab55k.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${TH2221J.product.catalogue.no}</value>
                <value>${TH2221J.product.region}</value>
                <value>${TH2221J.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${without.price.product.catalogue.no}</value>
                <value>${without.price.product.region}</value>
                <value>${without.price.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${617975.product.catalogue.no}</value>
                <value>${617975.product.region}</value>
                <value>${617975.product.id}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${THQL1120.product.catalogue.no}</value>
                <value>${THQL1120.product.region}</value>
                <value>${THQL1120.product.id}</value>
            </list>
        </property>
    </bean>
    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="qa">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/qa.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/regions.properties, classpath*:META-INF/products.properties"/>
    </beans>
</beans>