<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">

    <bean id="testProject" class="com.template.storefront.models.TestProject">
        <constructor-arg value="${com.template.start.url}"/>
        <constructor-arg value="${com.template.login.url}"/>
        <constructor-arg value="${com.template.home.url}"/>
        <constructor-arg value="${com.template.address_book.url}"/>
    </bean>

    <bean id="basicUser" class="com.template.storefront.models.User">
        <constructor-arg value="${com.template.username}"/>
        <constructor-arg value="${com.template.password}"/>
    </bean>

    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="stage">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/stage.properties"/>
    </beans>

    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties"/>
    </beans>
</beans>