<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">

    <bean id="seleniumGridSettings" class="com.template.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>

    <!--Users Manager to create user instances-->
    <bean id="usersManager" class="com.template.helpers.managers.users.UsersManager"/>

    <bean id="storefrontProject" class="com.template.storefront.models.TemplateStorefront">
        <constructor-arg value="${com.template.storefront.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.template.storefront.shopper.username}</value>
                <value>${com.template.storefront.shopper.password}</value>
                <ref bean="storefrontProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.template.storefront.shopper.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.template.storefront.guest.username}</value>
                <value>${com.template.storefront.guest.password}</value>
                <ref bean="storefrontProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.template.storefront.guest.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="backofficeProject" class="com.template.hybris.backoffice.models.TemplateBackoffice">
        <constructor-arg value="${com.template.backoffice.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.template.backoffice.admin.username}</value>
                <value>${com.template.backoffice.admin.password}</value>
                <ref bean="backofficeProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.template.backoffice.admin.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="hacProject" class="com.template.hybris.hac.models.TemplateHAC">
        <constructor-arg value="${com.template.hac.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.template.hac.admin.username}</value>
                <value>${com.template.hac.admin.password}</value>
                <ref bean="hacProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.template.hac.admin.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="importCockpitProject" class="com.template.hybris.import_cockpit.models.TemplateImportCockpit">
        <constructor-arg value="${com.template.import.cockpit.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.template.import.cockpit.import.manager.username}</value>
                <value>${com.template.import.cockpit.import.manager.password}</value>
                <ref bean="importCockpitProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.template.import.cockpit.import.manager.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <!--Credit Cards Manager to create CCs instances-->
    <bean id="creditCardsManager" class="com.template.helpers.managers.cards.CreditCardsManager"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="creditCardsManager"/>
        <property name="targetMethod" value="createTestInstance"/>
        <property name="arguments">
            <list>
                <value>${cc.1.cardType}</value>
                <value>${cc.1.number}</value>
                <value>${cc.1.expiration.month}</value>
                <value>${cc.1.expiration.year}</value>
                <value>${cc.1.cvv}</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="creditCardsManager"/>
        <property name="targetMethod" value="createTestInstance"/>
        <property name="arguments">
            <list>
                <value>${cc.2.cardType}</value>
                <value>${cc.2.number}</value>
                <value>${cc.2.expiration.month}</value>
                <value>${cc.2.expiration.year}</value>
                <value>${cc.2.cvv}</value>
            </list>
        </property>
    </bean>

    <!--<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">-->
        <!--<property name="targetObject" ref="creditCardsManager"/>-->
        <!--<property name="targetMethod" value="createTestInstance"/>-->
        <!--<property name="arguments">-->
            <!--<list>-->
                <!--<value>${cc.3.cardType}</value>-->
                <!--<value>${cc.3.number}</value>-->
                <!--<value>${cc.3.expiration.month}</value>-->
                <!--<value>${cc.3.expiration.year}</value>-->
                <!--<value>${cc.3.cvv}</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">-->
        <!--<property name="targetObject" ref="creditCardsManager"/>-->
        <!--<property name="targetMethod" value="createTestInstance"/>-->
        <!--<property name="arguments">-->
            <!--<list>-->
                <!--<value>${cc.4.cardType}</value>-->
                <!--<value>${cc.4.number}</value>-->
                <!--<value>${cc.4.expiration.month}</value>-->
                <!--<value>${cc.4.expiration.year}</value>-->
                <!--<value>${cc.4.cvv}</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->


    <!--Products Manager to create test product instances-->
    <bean id="productsManager" class="com.template.helpers.managers.products.ProductsManager"/>

    <!--Creating parent product instances-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestBaseProductInstance"/>
        <property name="arguments">
            <list>
                <value>${product.1.base.sku}</value>
                <value>${product.1.base.name}</value>
                <set>
                    <bean class="com.template.helpers.models.products.ProductAttribute">
                        <constructor-arg name="name" value="${product.1.base.attribute.1.name}"/>
                        <constructor-arg name="value" value="${product.1.base.attribute.1.value}"/>
                    </bean>
                </set>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestBaseProductInstance"/>
        <property name="arguments">
            <list>
                <value>${product.2.base.sku}</value>
                <value>${product.2.base.name}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestBaseProductInstance"/>
        <property name="arguments">
            <list>
                <value>${product.3.base.sku}</value>
                <value>${product.3.base.name}</value>
            </list>
        </property>
    </bean>

    <!--Creating variant product instances-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.1.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.1.variant.1.sku}</value>
                <value>${product.1.variant.1.price}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.2.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.2.variant.1.sku}</value>
                <value>${product.2.variant.1.price}</value>
                <set>
                    <bean class="com.template.helpers.models.products.ProductAttribute">
                        <constructor-arg name="name" value="${product.2.variant.1.attribute.1.name}"/>
                        <constructor-arg name="value" value="${product.2.variant.1.attribute.1.value}"/>
                    </bean>
                </set>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.2.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.2.variant.2.sku}</value>
                <value>${product.2.variant.2.price}</value>
                <set>
                    <bean class="com.template.helpers.models.products.ProductAttribute">
                        <constructor-arg name="name" value="${product.2.variant.2.attribute.1.name}"/>
                        <constructor-arg name="value" value="${product.2.variant.2.attribute.1.value}"/>
                    </bean>
                </set>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.2.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.2.variant.3.sku}</value>
                <value>${product.2.variant.3.price}</value>
                <set>
                    <bean class="com.template.helpers.models.products.ProductAttribute">
                        <constructor-arg name="name" value="${product.2.variant.3.attribute.1.name}"/>
                        <constructor-arg name="value" value="${product.2.variant.3.attribute.1.value}"/>
                    </bean>
                    <bean class="com.template.helpers.models.products.ProductAttribute">
                        <constructor-arg name="name" value="${product.2.variant.3.attribute.2.name}"/>
                        <constructor-arg name="value" value="${product.2.variant.3.attribute.2.value}"/>
                    </bean>
                </set>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.3.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.3.variant.1.sku}</value>
                <value>${product.3.variant.1.price}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.3.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.3.variant.2.sku}</value>
                <value>${product.3.variant.2.price}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.3.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.3.variant.3.sku}</value>
                <value>${product.3.variant.3.price}</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createTestVariantProductInstance"/>
        <property name="arguments">
            <list>
                <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                    <property name="targetObject" ref="productsManager"/>
                    <property name="targetMethod" value="getBaseProductById"/>
                    <property name="arguments">
                        <list>
                            <value>${product.3.base.sku}</value>
                        </list>
                    </property>
                </bean>
                <value>${product.3.variant.4.sku}</value>
                <value>${product.3.variant.4.price}</value>
            </list>
        </property>
    </bean>


    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="stage">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/stage.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties,
                classpath*:META-INF/test_credit_cards.properties"/>
    </beans>

    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties,
                classpath*:META-INF/test_credit_cards.properties"/>
    </beans>
</beans>