<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">

    <bean id="seleniumGridSettings" class="com.topcon.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>

    <!--Users Manager to create user instances-->
    <bean id="usersManager" class="com.topcon.helpers.user_engine.UsersManager"/>

    <bean id="storefrontProject" class="com.topcon.storefront.models.TopconStorefront">
        <constructor-arg value="${com.topcon.storefront.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.topcon.storefront.shopper.username}</value>
                <value>${com.topcon.storefront.shopper.password}</value>
                <ref bean="storefrontProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.topcon.storefront.shopper.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.topcon.storefront.guest.username}</value>
                <value>${com.topcon.storefront.guest.password}</value>
                <ref bean="storefrontProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.topcon.storefront.guest.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="backofficeProject" class="com.topcon.hybris.backoffice.models.TopconBackoffice">
        <constructor-arg value="${com.topcon.backoffice.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.topcon.backoffice.admin.username}</value>
                <value>${com.topcon.backoffice.admin.password}</value>
                <ref bean="backofficeProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.topcon.backoffice.admin.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="hacProject" class="com.topcon.hybris.hac.models.TopconHAC">
        <constructor-arg value="${com.topcon.hac.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.topcon.hac.admin.username}</value>
                <value>${com.topcon.hac.admin.password}</value>
                <ref bean="hacProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.topcon.hac.admin.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="importCockpitProject" class="com.topcon.hybris.import_cockpit.models.TopconImportCockpit">
        <constructor-arg value="${com.topcon.import.cockpit.base.url}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="usersManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${com.topcon.import.cockpit.import.manager.username}</value>
                <value>${com.topcon.import.cockpit.import.manager.password}</value>
                <ref bean="importCockpitProject"/>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <value>${com.topcon.import.cockpit.import.manager.role}</value>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="productsManager" class="com.topcon.helpers.managers.ProductsManager"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${product.3755219.id}</value>
                <value>${product.3755219.name}</value>
                <value>${product.3755219.price}</value>
            </list>
        </property>
    </bean>

    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="stage">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/stage.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>

    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>
</beans>