<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">

    <!--Selenium Grid settings-->
    <bean id="seleniumGridSettings" class="com.sarnova.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>

    <!--Storefront project settings and storefront users settings -->
    <bean id="storefrontProject" class="com.sarnova.storefront.models.SarnovaStorefront">
        <constructor-arg value="${com.sarnova.storefront.base.url}"/>
    </bean>

    <bean id="storefrontShopperCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.storefront.shopper.username}"/>
        <constructor-arg value="${com.sarnova.storefront.shopper.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.sarnova.storefront.shopper.role}"/>
    </bean>

    <bean id="storefrontGuestCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.storefront.guest.username}"/>
        <constructor-arg value="${com.sarnova.storefront.guest.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.sarnova.storefront.guest.role}"/>
    </bean>

    <!--Backoffice project settings and backoffice users settings -->
    <bean id="backofficeProject" class="com.sarnova.hybris.backoffice.models.SarnovaBackoffice">
        <constructor-arg value="${com.sarnova.backoffice.base.url}"/>
    </bean>

    <bean id="backofficeAdminCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.backoffice.admin.username}"/>
        <constructor-arg value="${com.sarnova.backoffice.admin.password}"/>
        <constructor-arg ref="backofficeProject"/>
        <constructor-arg value="${com.sarnova.backoffice.admin.role}"/>
    </bean>

    <!--HAC project settings and HAC users settings -->
    <bean id="hacProject" class="com.sarnova.hybris.hac.models.SarnovaHAC">
        <constructor-arg value="${com.sarnova.hac.base.url}"/>
    </bean>

    <bean id="hacAdminCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.hac.admin.username}"/>
        <constructor-arg value="${com.sarnova.hac.admin.password}"/>
        <constructor-arg ref="hacProject"/>
        <constructor-arg value="${com.sarnova.hac.admin.role}"/>
    </bean>

    <!--ImportCockpit project settings and import cockpit users settings -->
    <bean id="importCockpitProject" class="com.sarnova.hybris.import_cockpit.models.SarnovaImportCockpit">
        <constructor-arg value="${com.sarnova.import.cockpit.base.url}"/>
    </bean>

    <bean id="importCockpitImportManagerCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.import.cockpit.import.manager.username}"/>
        <constructor-arg value="${com.sarnova.import.cockpit.import.manager.password}"/>
        <constructor-arg ref="importCockpitProject"/>
        <constructor-arg value="${com.sarnova.import.cockpit.import.manager.role}"/>
    </bean>

    <!--All created users list-->
    <bean id="usersList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="storefrontShopperCredentials"/>
                <ref bean="storefrontGuestCredentials"/>
                <ref bean="backofficeAdminCredentials"/>
                <ref bean="hacAdminCredentials"/>
                <ref bean="importCockpitImportManagerCredentials"/>
            </list>
        </constructor-arg>
    </bean>

    <!--Test Products list-->
    <bean id="productsManager" class="com.sarnova.helpers.managers.ProductsManager"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${individual.product.valid.sku}</value>
                <value>${individual.product.valid.name}</value>
                <value>${individual.product.valid.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg value="${individual.product.valid.uom.ea}"/>
                                <constructor-arg value="${individual.product.valid.uom.ea.list.price}"/>
                                <constructor-arg value="${individual.product.valid.uom.ea.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${individual.507-6DFEN.product.sku}</value>
                <value>${individual.507-6DFEN.product.name}</value>
                <value>${individual.507-6DFEN.product.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg value="${individual.507-6DFEN.product.uom.bx}"/>
                                <constructor-arg value="${individual.507-6DFEN.product.uom.bx.list.price}"/>
                                <constructor-arg value="${individual.507-6DFEN.product.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>

    <bean id="subIndividualGroup2452_1" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2452.individual.product.valid.1.sku}</value>
                <value>${group.2452.individual.product.valid.1.name}</value>
                <value>${group.2452.individual.product.valid.1.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.1.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.1.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.1.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.1.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.1.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.1.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean id="subIndividualGroup2452_2" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2452.individual.product.valid.2.sku}</value>
                <value>${group.2452.individual.product.valid.2.name}</value>
                <value>${group.2452.individual.product.valid.2.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.2.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.2.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.2.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.2.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.2.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.2.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean id="subIndividualGroup2452_3" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2452.individual.product.valid.3.sku}</value>
                <value>${group.2452.individual.product.valid.3.name}</value>
                <value>${group.2452.individual.product.valid.3.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.3.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.3.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.3.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.3.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.3.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2452.individual.product.valid.3.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2452.product.valid.sku}</value>
                <value>${group.2452.product.valid.name}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2452.individual.product.valid.1.sku}</value>
                                </property>
                            </bean>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2452.individual.product.valid.2.sku}</value>
                                </property>
                            </bean>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2452.individual.product.valid.3.sku}</value>
                                </property>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="subIndividualGroup2451_1" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2451.individual.product.valid.1.sku}</value>
                <value>${group.2451.individual.product.valid.1.name}</value>
                <value>${group.2451.individual.product.valid.1.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.1.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.1.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.1.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.1.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.1.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.1.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean id="subIndividualGroup2451_2" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2451.individual.product.valid.2.sku}</value>
                <value>${group.2451.individual.product.valid.2.name}</value>
                <value>${group.2451.individual.product.valid.2.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.2.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.2.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.2.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.2.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.2.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.2.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean id="subIndividualGroup2451_3" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2451.individual.product.valid.3.sku}</value>
                <value>${group.2451.individual.product.valid.3.name}</value>
                <value>${group.2451.individual.product.valid.3.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.3.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.3.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.3.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.3.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.3.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.3.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean id="subIndividualGroup2451_4" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2451.individual.product.valid.4.sku}</value>
                <value>${group.2451.individual.product.valid.4.name}</value>
                <value>${group.2451.individual.product.valid.4.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.4.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.4.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.4.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.4.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.4.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.4.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean id="subIndividualGroup2451_5" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2451.individual.product.valid.5.sku}</value>
                <value>${group.2451.individual.product.valid.5.name}</value>
                <value>${group.2451.individual.product.valid.5.license}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.5.uom.cs}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.5.uom.cs.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.5.uom.cs.your.price}"/>
                            </bean>
                            <bean class="com.sarnova.helpers.models.products.UnitOfMeasure">
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.5.uom.bx}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.5.uom.bx.list.price}"/>
                                <constructor-arg
                                        value="${group.2451.individual.product.valid.5.uom.bx.your.price}"/>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
                <bean class="java.util.ArrayList"/>
                <bean class="java.util.ArrayList"/>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="productsManager"/>
        <property name="targetMethod" value="createInstance"/>
        <property name="arguments">
            <list>
                <value>${group.2451.product.valid.sku}</value>
                <value>${group.2451.product.valid.name}</value>
                <bean class="java.util.ArrayList">
                    <constructor-arg>
                        <list>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2451.individual.product.valid.1.sku}</value>
                                </property>
                            </bean>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2451.individual.product.valid.2.sku}</value>
                                </property>
                            </bean>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2451.individual.product.valid.3.sku}</value>
                                </property>
                            </bean>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2451.individual.product.valid.4.sku}</value>
                                </property>
                            </bean>
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="productsManager"/>
                                <property name="targetMethod" value="getProductBySku"/>
                                <property name="arguments">
                                    <value>${group.2451.individual.product.valid.5.sku}</value>
                                </property>
                            </bean>
                        </list>
                    </constructor-arg>
                </bean>
            </list>
        </property>
    </bean>
    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="stage">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/stage.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>

    <beans profile="qa">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/qa.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>

    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties, classpath*:META-INF/selenium_grid.properties, classpath*:META-INF/test_products.properties"/>
    </beans>
</beans>