<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">

    <bean id="seleniumGridSettings" class="com.sarnova.helpers.SeleniumGridSettings">
        <constructor-arg value="${hub.url}"/>
    </bean>

    <bean id="storefrontProject" class="com.sarnova.storefront.models.SarnovaStorefront">
        <constructor-arg value="${com.sarnova.storefront.base.url}"/>
    </bean>

    <bean id="storefrontShopperCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.storefront.shopper.username}"/>
        <constructor-arg value="${com.sarnova.storefront.shopper.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.sarnova.storefront.shopper.role}"/>
    </bean>

    <bean id="storefrontGuestCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.storefront.guest.username}"/>
        <constructor-arg value="${com.sarnova.storefront.guest.password}"/>
        <constructor-arg ref="storefrontProject"/>
        <constructor-arg value="${com.sarnova.storefront.guest.role}"/>
    </bean>

    <bean id="backofficeProject" class="com.sarnova.hybris.backoffice.models.SarnovaBackoffice">
        <constructor-arg value="${com.sarnova.backoffice.base.url}"/>
    </bean>

    <bean id="backofficeAdminCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.backoffice.admin.username}"/>
        <constructor-arg value="${com.sarnova.backoffice.admin.password}"/>
        <constructor-arg ref="backofficeProject"/>
        <constructor-arg value="${com.sarnova.backoffice.admin.role}"/>
    </bean>

    <bean id="hacProject" class="com.sarnova.hybris.hac.models.SarnovaHAC">
        <constructor-arg value="${com.sarnova.hac.base.url}"/>
    </bean>

    <bean id="hacAdminCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.hac.admin.username}"/>
        <constructor-arg value="${com.sarnova.hac.admin.password}"/>
        <constructor-arg ref="hacProject"/>
        <constructor-arg value="${com.sarnova.hac.admin.role}"/>
    </bean>

    <bean id="importCockpitProject" class="com.sarnova.hybris.import_cockpit.models.SarnovaImportCockpit">
        <constructor-arg value="${com.sarnova.import.cockpit.base.url}"/>
    </bean>

    <bean id="importCockpitImportManagerCredentials" class="com.sarnova.helpers.user_engine.User">
        <constructor-arg value="${com.sarnova.import.cockpit.import.manager.username}"/>
        <constructor-arg value="${com.sarnova.import.cockpit.import.manager.password}"/>
        <constructor-arg ref="importCockpitProject"/>
        <constructor-arg value="${com.sarnova.import.cockpit.import.manager.role}"/>
    </bean>


    <bean id="usersList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="storefrontShopperCredentials"/>
                <ref bean="storefrontGuestCredentials"/>
                <ref bean="backofficeAdminCredentials"/>
                <ref bean="hacAdminCredentials"/>
                <ref bean="importCockpitImportManagerCredentials"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- ====================================================== -->
    <!-- import different variables according to active profile -->
    <!-- ====================================================== -->
    <beans profile="stage">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/stage.properties, classpath*:META-INF/selenium_grid.properties"/>
    </beans>

    <beans profile="dev">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="classpath*:META-INF/dev.properties, classpath*:META-INF/selenium_grid.properties"/>
    </beans>
</beans>